html {
    margin: 0 !important;
    padding: 0 !important;
}

body {
    display: block;
    position: relative;

    color: #000;
    background-color: #fff;

    font-family: 'Haffer', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;

    -webkit-font-smoothing: antialiased;
    text-rendering: geometricPrecision;

    --wp--preset--font-family--heading: 'Haffer', sans-serif;
    --wp--preset--font-size--xx-large: 3rem;
    --wp--preset--font-size--x-large: 2rem;
    --wp--preset--font-size--large: 1.1rem;
}

h1 {
    margin: 0;
    line-height: 1;
}

h3 {
    margin: 0;
    font-size: var(--wp--preset--font-size--medium);
    font-weight: bold;
}

h4 {
    margin: 0;
    font-size: var(--wp--preset--font-size--small);
    font-weight: bold;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    display: flex;
    padding: .125rem 0;
}

li > * {
    flex: 1;
}

address {
    font-style: normal;
}

.x-large {
    font-size: var(--wp--preset--font-size--x-large);
    font-weight: bold;
    line-height: var(--wp--preset--font-size--x-large);
}

.invoice {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    box-sizing: border-box;
    width: 210mm;
    height: calc(297mm - 1px); /* -1px to prevent two pages when printing */
}

.invoice__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 100px;
}

.invoice__content {
    display: grid;
    position: relative;
    align-items: baseline;
    gap: 1rem;
    grid-template-areas:
        ". customer"
        "summary ."
        "meta ."
        "details details"
        "compilation compilation";
    grid-template-columns: repeat(2,minmax(0,1fr));
    grid-template-rows: auto;
}

.invoice__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    font-size: var(--wp--preset--font-size--small);
    border-top: solid 1px #000;
    margin-top: auto;
    padding-top: .5rem;
}

.logotype {
    max-height: 100px;
}

.customer-address {
    grid-area: customer;
    justify-self: center;
}

.invoice-summary {
    grid-area: summary;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: var(--wp--preset--font-size--medium);
    margin-bottom: 4rem;
}

.invoice-summary ul {
    border-top: solid 1px #ccc;
}

.invoice-summary li {
    border-bottom: solid 1px #ccc;
    padding: .5rem 0;
}

.invoice-meta {
    grid-area: meta;
}

.invoice-details {
    grid-area: details;
    border-collapse: collapse;
    font-size: var(--wp--preset--font-size--small);
}

.invoice-details th {
    font-weight: normal;
    text-align: end;
    padding-bottom: .25rem;
    border-bottom: solid 2px #000;
}

.invoice-details__cell {
    vertical-align: top;
    padding: .5rem 0;
    border-bottom: solid 1px #ccc;
}

.invoice-details .description {
    width: 100%;
}

.invoice-details .amount,
.invoice-details .total {
    text-align: end;
    padding-left: 1rem;
    white-space: nowrap;
}

.invoice-details .total {
    font-weight: bold;
}

.invoice-compilation {
    grid-area: compilation;
    display: flex;
    justify-content: flex-end;
    font-size: var(--wp--preset--font-size--small);
}

.invoice-compilation table {
    border-collapse: collapse;
    text-align: end;
}

.invoice-compilation table td {
    padding: 0;
}

.invoice-compilation td:last-child {
    padding-left: 2rem;
}

.invoice-compilation tfoot td {
    padding-top: 1rem;
    font-weight: bold;
}
