.logotype-preview {
    display: block;
    max-height: 100px;
    margin-bottom: 4px;
}

.notice-success.settings-error strong {
    font-weight: normal;
}

.state-unpaid {
    color: #dba617;
}

.state-paid {
    color: #00a32a;
}

.state-overdue {
    color: #d63638;
}

.tablenav-extra {
    display: inline-flex;
    align-items: center;
    height: 100%;
}